In [1]:
# Iterating for loop

list1 =  [1,2,3,4,5]

for i in range(len(list1)):
  print(list1[i])

1
2
3
4
5

In [5]:
from typing import List
# Membership Operator(in, not in)

list1 = ["Pratik","Shridhar","Saurabh","Aniket","Viraj"]

print("Pratik" in list1) # in operator, returns true if the given string is present in the list, else will return false

print("Sumit" not in list1) # not in operator, returns true if the given string is not present in the list, else will return false

True

In [7]:
# indexing
 
my_list = ["Pratik","Shridhar","Saurabh","Aniket","Viraj"]

print(my_list[0]) # this statement will print the element at zeroth position in the list
print(my_list[1]) # this statement will print the element at first position in the list
print(my_list[2]) # this statement will print the element at second position in the list
print(my_list[3]) # this statement will print the element at third position in the list
print(my_list[4]) # this statement will print the element at fourth position in the list

Pratik
Shridhar
Saurabh
Aniket
Viraj

In [9]:
# Negative Indexing

my_list = ["Pratik","Shridhar","Saurabh","Aniket","Viraj"]

print(my_list[-1]) # this statement will print the element at last position in the list
print(my_list[-2]) # this statement will print the element at last second position in the list
print(my_list[-3]) # this statement will print the element at last third position in the list
print(my_list[-4]) # this statement will print the element at last fourth position in the list
print(my_list[-5]) # this statement will print the element at last fifth position i.e. first position in the list

Viraj
Aniket
Saurabh
Shridhar
Pratik

In [10]:
# Slicing

my_list = ["Pratik","Shridhar","Saurabh","Aniket","Viraj"]

print(my_list[1:4]) # This instruction will print the elements from first index to the third index, as the left index of colon is implicit and the right index of colon is explicit hence will print the element till the third index

['Shridhar', 'Saurabh', 'Aniket']

In [11]:
# Extended Slicing

my_list = ["Pratik","Shridhar","Saurabh","Aniket","Viraj"]

print(my_list[1:4:2]) # This instruction will print the elements from first index till third index, with the difference of two elements

['Shridhar', 'Aniket']

In [13]:
# Accessing Nested lists using slicing

my_list = ["Pratik","Shridhar","Saurabh","Aniket","Viraj",[1,2,3,4,5]]

my_list_new = my_list[:]

my_list_new [2] = "Shashi" # This instruction will change the element at 2nd index of the list

print(my_list_new)

my_list_new [5] [1] = 100 # This instruction will update the 1st element in the nested list at the 5th position of the main list

print(my_list_new)

['Pratik', 'Shridhar', 'Shashi', 'Aniket', 'Viraj', [1, 2, 3, 4, 5]]
['Pratik', 'Shridhar', 'Shashi', 'Aniket', 'Viraj', [1, 100, 3, 4, 5]]